* {
  margin: 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2235;
  color: #f2f2f2;
  font-weight: 600; }

header h1 {
  margin: 15px 0 15px 75px;
  text-transform: uppercase;
  font-size: 2em; }

header span {
  color: #34d1d1; }

.title-break {
  display: none; }

h2, h3 {
  font-weight: 600; }

header h3 {
  margin-right: 75px; }

.flex-center-align {
  display: flex;
  align-items: center; }

.style-component-container {
  margin: 35px;
  flex-direction: column; }

.style-component-container h2 {
  font-weight: 300;
  text-transform: uppercase; }

.style-component-heading {
  justify-content: space-between;
  width: 100%;
  margin-top: 25px; }

.style-component-heading h2 {
  width: 175px;
  font-size: 1.2em;
  display: block;
  margin-left: 40px; }

.style-component-heading hr {
  width: 80%;
  margin-right: 40px; }

#accordion {
  display: grid;
  margin: 75px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 10% 90%;
  grid-template-areas: "tab1 tab2 tab3 tab4" "accordionCard accordionCard accordionCard accordionCard"; }

.accordion-tab {
  text-align: center;
  border: solid 1px #ffffff;
  border-bottom: solid 1px #d1d2d3;
  background-color: #f2f2f2;
  height: 55px;
  line-height: 60px;
  font-size: 1.1em;
  color: #666666; }

.accordion-tab:hover {
  background-color: #666666;
  color: #f2f2f2; }

#tab-1 {
  grid-area: tab1; }

#tab-2 {
  grid-area: tab2; }

#tab-3 {
  grid-area: tab3; }

#tab-4 {
  grid-area: tab4; }

.active-tab {
  border: solid 1px #d1d2d3;
  border-bottom: none;
  background-color: #ffffff;
  font-weight: 600; }

.active-tab:hover {
  background-color: #ffffff;
  color: #000000; }

.accordion-article {
  grid-area: accordionCard;
  border: solid 1px #d1d2d3;
  border-top: none;
  display: none; }

.active-article {
  display: flex; }

.accordion-article img {
  height: 350px;
  width: 300px;
  margin: 20px;
  border: solid 1px #d1d2d3;
  border-width: 2px; }

.text-content {
  margin: 20px;
  padding: 20px 0; }

.accordion-section-heading {
  margin-bottom: 10px; }

.text-content hr, .accordion-text {
  margin-bottom: 25px; }

button {
  background-color: #2f2235;
  color: #ffffff;
  width: 450px;
  text-transform: uppercase;
  border: none;
  height: 65px;
  font-size: 1.5em;
  border-radius: 0; }

button:hover {
  color: #2f2235;
  background-color: #d1d2d3; }

.embedded-code {
  margin-top: 50px;
  width: 85%; }

.hidden, .mobile-button {
  display: none; }

@media (max-width: 700px) {
  header {
    flex-direction: column; }

  header h1 {
    margin: 10px 0;
    font-size: 2.2em; }

  .title-break {
    display: inline-block;
    width: 25%;
    border-color: #3f3244;
    border-top: none; }

  header h3 {
    margin: 10px 0 15px 0; }

  .style-component-container {
    margin: 25px; }

  #accordion, .style-component-heading {
    display: flex;
    flex-direction: column;
    margin: 0; }

  .style-component-heading h2 {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 1.8em; }

  .style-component-heading hr {
    width: 25%;
    margin: 0; }

  #accordion {
    margin-top: 150px;
    border: solid 5px #d1d2d3; }

  .active-tab {
    border-top-width: 5px; }

  .accordion-tab {
    text-align: left;
    border: solid 1px #ffffff;
    padding: 20px;
    height: 45px;
    line-height: 45px;
    font-size: 1.8em;
    display: flex;
    justify-content: space-between; }

  .mobile-button {
    display: inline-block;
    font-size: 1.2em; }

  .accordion-article {
    flex-direction: column; }

  .text-content {
    padding: 0; }

  .active-article {
    display: flex;
    border-bottom: none; }

  .accordion-article img {
    height: 200px;
    width: 100%;
    margin: 0;
    border-left: none;
    border-right: none; }

  .view-button {
    margin-top: 50px; } }

/*# sourceMappingURL=styles.css.map */
